:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-group {
  width: 360px;
  padding: 10px;
  border: 1px solid black;
}

.heading {
  margin: 0 0 30px 0;
  text-align: center;
}

.control-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.value-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.saved-value {
  margin-left: 5px;
  color: green;
}
