<form *ngIf="vm$ | async as vm" class="form-group" [formGroup]="formGroup">
  <h1 class="heading">Form</h1>

  <div class="control-container">
    <label for="name">Name:</label>
    <input formControlName="name" type="text" id="name" />

    <div class="value-container">
      <button type="button" (click)="setName()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ vm.name }}</span>
    </div>

    <div>
      <button type="button" (click)="updateNameWithEffect()">
        Update name with effect
      </button>
    </div>
  </div>

  <div class="control-container">
    <label for="sureName">Age:</label>
    <input formControlName="sureName" type="text" id="sureName" />

    <div class="value-container">
      <button type="button" (click)="setSureName()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ vm.sureName }}</span>
    </div>
  </div>

  <div
    *ngIf="carData$ | async as carData"
    class="control-container car-data"
    formGroupName="carData"
  >
    <h2>Car data</h2>

    <div class="control-container">
      <label for="isElectric">Is electric?</label>
      <input type="checkbox" formControlName="isElectric" id="isElectric" />

      <div class="value-container">
        <button type="button" (click)="setIsElectric()">Save value</button>
        <span>Saved value:</span>
        <span class="saved-value">{{ carData.isElectric }}</span>
      </div>
    </div>

    <div class="control-container">
      <button type="button" (click)="resetState()">Reset state</button>
    </div>

    <div class="control-container">
      {{ state$ | async | json }}
    </div>
  </div>
</form>
