<form class="form-group" [formGroup]="formGroup">
  <h1 class="heading">Form</h1>

  <div class="control-container">
    <label for="name">Name:</label>
    <input formControlName="name" type="text" id="name" />

    <div class="value-container">
      <button type="button" (click)="setName()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ name$ | async }}</span>
    </div>

    <div>
      <button type="button" (click)="updateNameWithEffect()">
        Update name with effect
      </button>
    </div>
  </div>

  <div class="control-container">
    <label for="sureName">Sure name:</label>
    <input formControlName="sureName" type="text" id="sureName" />

    <div class="value-container">
      <button type="button" (click)="setSureName()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ sureName$ | async }}</span>
    </div>
  </div>

  <div class="control-container">
    <label for="birthDate">Birth date:</label>
    <input formControlName="birthDate" type="date" id="birthDate" />

    <div class="value-container">
      <button type="button" (click)="setBirthDate()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ birthDate$ | async }}</span>
    </div>
  </div>

  <div class="control-container">
    <label for="address">Address:</label>
    <input formControlName="address" type="text" id="address" />

    <div class="value-container">
      <button type="button" (click)="setAddress()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ address$ | async }}</span>
    </div>
  </div>

  <div class="control-container">
    <label for="age">Age:</label>
    <input formControlName="age" type="number" id="age" />

    <div class="value-container">
      <button type="button" (click)="setAge()">Save value</button>
      <span>Saved value:</span>
      <span class="saved-value">{{ age$ | async }}</span>
    </div>
  </div>

  <div
    *ngIf="carData$ | async as carData"
    class="control-container car-data"
    formGroupName="carData"
  >
    <h2>Car data</h2>

    <div class="control-container">
      <label for="mark">Mark:</label>
      <input formControlName="mark" type="text" id="mark" />

      <div class="value-container">
        <button type="button" (click)="setCarMark()">Save value</button>
        <span>Saved value:</span>
        <span class="saved-value">{{ carData.mark }}</span>
      </div>
    </div>

    <div class="control-container">
      <label for="yearOfProduction">Year of production:</label>
      <input
        formControlName="yearOfProduction"
        type="date"
        id="yearOfProduction"
      />

      <div class="value-container">
        <button type="button" (click)="setCarsYearOfProduction()">
          Save value
        </button>

        <button type="button" (click)="updateYearOfCarProduction()">
          Set updater value
        </button>

        <span>Saved value:</span>
        <span class="saved-value">{{ carData.yearOfProduction }}</span>
      </div>
    </div>

    <div class="control-container">
      <label for="isElectric">Is electric?</label>
      <input type="checkbox" formControlName="isElectric" id="isElectric" />

      <div class="value-container">
        <button type="button" (click)="setIsElectric()">Save value</button>
        <span>Saved value:</span>
        <span class="saved-value">{{ carData.isElectric }}</span>
      </div>
    </div>

    <div class="control-container">
      <button type="button" (click)="resetState()">Reset state</button>
    </div>
  </div>

  <div class="control-container">
    {{ state$ | async | json }}
  </div>
</form>
